# ===============================
# Nuxt dev/build outputs
# ===============================
.output
.data
.nuxt
.nitro
.cache
dist

# ===============================
# Node dependencies
# ===============================
node_modules

# ===============================
# Logs
# ===============================
logs
*.log
.eslintcache

# ===============================
# Deployment / Platform
# ===============================
.vercel
.netlify

# ===============================
# Package Manager (pnpm)
# ===============================
.pnpm-store

# ===============================
# System / Editor
# ===============================
.DS_Store
Thumbs.db

# JetBrains IDE
.idea
.fleet

# VSCode / Cursor
.vscode
# .vscode/*
# !.vscode/settings.json

# ===============================
# Local env files
# ===============================
.env
.env.*
!.env.example
