/* Neutral */

$white: #ffffff;
$black: #000000;

$neutral-50: #FAFAFA;
$neutral-100: #F5F5F5;
$neutral-200: #EEEEEE;
$neutral-300: #E0E0E0;
$neutral-400: #BDBDBD;
$neutral-500: #9E9E9E;
$neutral-600: #757575;
$neutral-700: #616161;
$neutral-800: #424242;
$neutral-900: #212121;


/* 블루그레이 */

$blue-gray-50: #ECEFF1;
$blue-gray-100: #CFD8DC;
$blue-gray-200: #B0BEC5;
$blue-gray-300: #90A4AE;
$blue-gray-400: #78909C;
$blue-gray-500: #607D8B;
$blue-gray-600: #546E7A;
$blue-gray-700: #455A64;
$blue-gray-800: #37474F;
$blue-gray-900: #263238;

/* 브랜드 포인트 컬러 (example: purple) */
// $brand-50: #F5F3FF;
// $brand-100: #EDE9FE;
// $brand-200: #DDD6FE;
// $brand-300: #C4B5FD;
// $brand-400: #A78BFA;
// $brand-500: #8B5CF6;
// $brand-600: #7C3AED;
// $brand-700: #6D28D9;
// $brand-800: #5B21B6;
// $brand-900: #4C1D95;

$brand-50: #f2fde4;
$brand-100: #defabb;
$brand-200: #c6f68d;
$brand-300: #aaf255;
$brand-400: #90ee02;
$brand-500: #75e900;
$brand-600: #61d800;
$brand-700: #41c300;
$brand-800: #09af00;
$brand-900: #008b00;

/* Accent 강조 컬러 */
$accent-50: #ECFDF5;
$accent-100: #D1FAE5;
$accent-200: #A7F3D0;
$accent-300: #6EE7B7;
$accent-400: #34D399;
$accent-500: #22C55E;
$accent-600: #16A34A;
$accent-700: #15803D;
$accent-800: #166534;
$accent-900: #14532D;